<launch>
	<node name="stage" pkg="stage_ros" type="stageros"
	      args="$(find lab6)/world/playground.world" />
	<node name="bug2" pkg="lab6" type="bug2.py" output="screen">
	      <param name="goalx" type="double" value="2" />
	      <param name="goaly" type="double" value="7" />
	</node>
</launch>
